.home {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 12px 0;
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 20px;
  }

  .gridLastMatch {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    background: white;
  }

  .gridNextMatch {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 100%;
    background: white;
  }
}
