.schedule {
  overflow: hidden;
}

.pauseBox {
  text-align: left;
}

.teamBox {
  display: flex;
}

.matchItem {
  display: flex;
}

.weekBox {
  margin-bottom: 12px;
}

.matchesList {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    border-bottom: 1px solid #f5f2f2;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
    }
  }
}

.pausedItem {
  text-align: center;
}

.pausedLogoBox {
  display: none;
}

.pausedTextBox span {
  display: block;
}

.leftLogoBox {
  margin-right: 10px;
}

.rightLogoBox {
  margin-left: 10px;
}

.leftLogoBox,
.rightLogoBox {
  display: flex;
  align-items: center;
}

.scoreBox {
  text-align: center;
}

@media (min-width: 1280px) {
  .matchesList {
    li {
      justify-content: flex-start;
    }
  }

  .pausedItem {
    text-align: left;
    display: flex;
    align-items: center;
  }

  .pausedLogoBox {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  .pausedTextBox span {
    display: initial;
  }

  .scoreBox {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .score {
    margin: 0 10px;
  }
}
